include deblend/data/weights/dc2/not_normalised/checkpoint
include deblend/data/weights/dc2/not_normalised/cp-{epoch:04d}.ckpt.data-00000-of-00002
include deblend/data/weights/dc2/not_normalised/cp-{epoch:04d}.ckpt.data-00001-of-00002
include deblend/data/weights/dc2/not_normalised/cp-{epoch:04d}.ckpt.index
include deblend/data/dc2_imgs/imgs_dc2.npy
include deblend/data/dc2_imgs/field/field_img.npy
include deblend/data/dc2_imgs/field/galaxies_from_field.npy
include deblend/data/dc2_imgs/field/ra_dec_coord.npy
