include debvader/data/weights/dc2/checkpoint
include debvader/data/weights/dc2/weights_noisy_v4.304-898.88.ckpt.data-00000-of-00002
include debvader/data/weights/dc2/weights_noisy_v4.304-898.88.ckpt.data-00001-of-00002
include debvader/data/weights/dc2/weights_noisy_v4.304-898.88.ckpt.index

include debvader/data/dc2_imgs/imgs_dc2.npy